<p id="notice"><%= notice %></p>

<h1>AppStats</h1>

<h2><%= @stats.posts_count %></h2>
<h2><%= @stats.quotes_count %></h2>
<h2><%= @stats.posts_word_count %></h2>
<h2><%= @stats.quotes_word_count %></h2>
<h2><%= @stats.total_count %></h2>
<h2><%= @stats.total_word_count %></h2>

<br>
<%= link_to 'Back', posts_path %>
